.hero-image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.hero-image::before {
    content: "";
    background-image: url('../images/bejgli-hero.png');
    background-size: cover; /* Resize the background image to cover the entire container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image */
    filter: sepia(30%) saturate(200%) hue-rotate(-150deg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.hero-title {
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgba(64, 255, 0, 0.5);
}

.hero-subtitle, #title1, #title2, #title3 {
    color: rgb(255, 255, 255);
    font-size: 1.5em; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: italic;
    background-color: rgba(164, 4, 185, 0.5);
}

#text1, #text2, #text3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    margin-top: 5px;
}


.container-fluid {
    max-width: 1000px; /* Set the max width of the container */
    margin: auto; /* Center the container */
}

.row {
    margin-bottom: 20px; /* Add a bottom margin to each row */
}

.grid-image {
    object-fit: cover; /* Do not distort aspect ratio of image */
    width: 300px; /* Set width of image */
    height: 300px; /* Set height of image */
    display: block; /* Make the image a block element */
    margin-left: auto; /* Center the image */
    margin-right: auto;
    filter: sepia(30%) saturate(100%) hue-rotate(-90deg);
}

#title2, #title3 {
    cursor: pointer; /* Make the titles look clickable */
}

#title2:hover, #title3:hover {
    background-color: rgba(64, 255, 0, 0.5); /* Change the background color to green when hovered over */
}

#title2:active, #title3:active {
    background-color: limegreen; /* Change the background color to a sharp green when clicked */
}

#text2, #text3 {
    max-height: 0; /* Fully collapse the element when it's not revealed */
    opacity: 0;
    overflow: hidden; /* Hide the overflow */
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Add a smooth animation */
}

#text2.reveal, #text3.reveal {
    max-height: 1000px; /* Expand the element when it's revealed */
    opacity: 1;
}